# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.dll
*.pdb
*.cache
ClientApp/obj/Debug/net5.0
ClientApp/bin/Debug/net5.0
