@page "/Authentication"
@using business_logic.Model
@inject IUserController _userController
@inject IModalService _modalService
<h3>Register</h3>


<EditForm Model="@_userToRegister" OnSubmit="@RegisterUser">
    <DataAnnotationsValidator/> <ValidationSummary/>
    <label>Name</label>
    <br/><InputText @bind-Value="_userToRegister.name"/>
    <label>Email</label>
    <br/><InputText @bind-Value="_userToRegister.email"></InputText>
    <br/><label style="text-decoration-color: red">@_errorMessage</label>

    <button class="btn btn-primary" type="submit" @onclick="@(() => _modalService.Show<Login>("Login"))">Register</button>
</EditForm>
