@page "/"
@inject IPetController _petController
@inject NavigationManager NavMgr

<div class="py-10 px-20 bg-pink-100">
    <div class="h-100 rounded-full bg-yellow-400 overflow-hidden flex items-center bg-cover bg-center">
                <div class="bg mx-auto flex items-center h-full">
                    <div class="px-10 max-w-xl">
                        <h2 class="text-2xl pt-8 text-white font-semibold">Welcome, lovely pet!</h2>
                        <p class="mt-2 pb-8 text-black">You can find a new warm home for your soft fur by creating a profile on our platform; you just need to set your status to adoption. Alternatively, if you just want to meet new pets and make new friends, you can go on walks with other pets (if the other pet agrees, of course); all you have to do is set your profile status to walking. If you simply want to get away from your owner for a few days because he or she is going away on vacation or for other reasons, all you have to do is set your status to foster.
                                                      We hope you enjoy using our platform, interacting with other pets, and making new friends.</p>
                    </div>
                </div>
            </div>
            <div class="md:flex mt-8 md:-mx-4">
                <div class="w-full h-64 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:w-1/2">
                    <div class="bg-blue-500 bg-opacity-50 flex items-center h-full">
                        <div class="px-10 max-w-xl">
                            <h2 class="text-2xl text-white font-semibold">Tring to meet or found new pet friends</h2>
                            <p class="mt-2 text-black">If you want to make new fluffy friends on our platform, we recommend that you fill out as much information about yourself as possible while making your profile so that others can learn more about you. In addition, while sending a walking request, the other pet must consent by accepting the offer.
                                                       We hope you make some wonderful pals with whom you can play and go for walks.</p>
                            <button @onclick="@NavigateToPetList" class="flex items-center mt-4 text-white text-sm uppercase font-medium rounded hover:underline focus:outline-none">
                                <span>Try out</span>
                                <svg class="h-5 w-5 mx-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor"><path d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="w-full h-64 mt-8 md:mx-4 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/2">
                    <div class="bg-blue-500 bg-opacity-50 flex items-center h-full">
                        <div class="px-10 max-w-xl">
                            <h2 class="text-2xl text-white font-semibold">Joining in first time?</h2>
                            <p class="mt-2 text-black">If you want to be a part of our wonderful pet community, all you have to do is register, providing some basic information about the owner and more details about your condition. We simply need your owner's name and email since we'll send a code for him or her to log in, and don't worry, the owner will receive a new code in the mail every time he or she tries to log in again.</p>
                        </div>
                    </div>
                </div>
            </div>
</div>