@inherits LayoutComponentBase

<div class="page">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row ">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank"></a>
        </div>

        @* <div class="content px-4"> *@
            @Body
        @* </div> *@
    </div>

